---
layout: default
css-include: /css/main.css
sorted: 1
---

<!-- I want to add this as a background for the introductory text
style="background-image:url(/assets/img/people.png)">
-->

<section class="section-blue py-4 mt-0">
  <div class="container text-justify">
    <h2>The people behind KDE</h2>
    <p>Who are these people? Where do they live? What motivates them to contribute to the KDE Project?</p>
    <p>What is important to them? Who are their favorite writers, singers and actors? What do they eat?</p>
    <p>Well... you get the picture.</p>
    <p>People Behind KDE interviews people from the KDE community to understand what really makes them tick. In addition to developers, this is an opportunity to get to know more about the artists, translators, promoters and others who make KDE the community it is today.</p>
  </div>
</section>

<main aria-label="Content" id="content" class="container">
    <div class="announcement-feed mb-3">
    <h2>Interviews</h2>
    {% for post in paginator.posts %}
    <div class="mb-4">
        <h3><a href="{{ post.url }}">{{ post.title }}</a><small class="float-right">{{ post.date | date: "%Y-%m-%d" }}</small></h3>
        <q>{{ post.excerpt | strip_html | truncatewords:40 }}</q><br>
        <a href="{{ post.url }}" class="learn-more">Read full interview here</a>
    </div>
    {% endfor %}
    {% if paginator.total_pages > 1 %}
        <div class="pagination justify-content-center mt-3">
            {% if paginator.previous_page %}
                <a class="ml-1 mr-1" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; {% if site.prev %}{{site.prev}}{% else %}Prev{% endif %}</a>
            {% else %}
            <span>&laquo; {% if site.prev %}{{site.prev}}{% else %}Prev{% endif %}</span>
            {% endif %}
              {% if paginator.total_pages > 20 %}
                {% for page in (1..paginator.total_pages) %}
                    {% assign relative_to_current = paginator.page | minus: page | replace: '-', '' | divided_by: 1 %}
                    {% if page == paginator.page %}
                        <span class="ml-1 mr-1">{{ page }}</span>
                    {% elsif relative_to_current < 5 and page == 1 %}
                        <a class="ml-1 mr-1" href="{{ paginator.previous_page_path | relative_url }}">{{ page }}</a>
                    {% elsif relative_to_current < 5 %}
                        <a class="ml-1 mr-1" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
                    {% endif %}
                {% endfor %}
            {% else %}
                {% for page in (1..paginator.total_pages) %}
                    {% if page == paginator.page %}
                        <span class="ml-1 mr-1">{{ page }}</span>
                    {% elsif page == 1 %}
                        <a class="ml-1 mr-1" href="{{ paginator.previous_page_path | relative_url }}">{{ page }}</a>
                    {% else %}
                        <a class="ml-1 mr-1" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
                    {% endif %}
                {% endfor %}
            {% endif %}
              {% if paginator.next_page %}
                <a class="ml-1 mr-1" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">{% if site.next %}{{site.next}}{% else %}Next{% endif %} &raquo;</a>
            {% else %}
            <span>{% if site.next %}{{site.next}}{% else %}Next{% endif %} &raquo;</span>
            {% endif %}
        </div>
        {% endif %}
    </div>
</main>
